* {
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    align-items: center;
    
}
body{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)
}
h1{
    background-color: rgb(255, 255, 255);
    color: #8043d1;
}
.bloco_principal{

        display: flex;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        width: 400px;
        border-radius: 15px;
        justify-content: center;

        
    }
.item{
    width: 200px;
    height: 40px;
    margin: 5px;
    align-items: flex-start;
    text-align: left;
    color: white;
    opacity: 80%;

    
}
#login{
    background-color: #8043d1;
    align-items: center;
    text-align: center;
}
/*animação ao passar o mause*/
.item:hover 

{ background-color: #615b97; 

transition: 0.5s;

opacity: 0.7;

}